@import './utils.scss';

// Font
$text-font: 'Roboto', sans-serif;

// Title scale (h1 → h5)
$title-sizes: (
  1: 3rem,    // 48px
  2: 2.25rem, // 36px
  3: 1.75rem, // 28px
  4: 1.5rem,  // 24px
  5: 1.25rem  // 20px
);

// Paragraph scale (body → fine print)
$para-sizes: (
  1: 1.125rem, // 18px
  2: 1rem,     // 16px
  3: 0.9375rem,// 15px
  4: 0.875rem, // 14px
  5: 0.75rem   // 12px
);

// Titles
@each $i, $size in $title-sizes {
  .title-#{$i} {
    font-family: $text-font;
    font-size: $size;
    font-weight: 700;
    line-height: 1.2;
  }
}

// Paragraphs
@each $i, $size in $para-sizes {
  .para-#{$i} {
    font-family: $text-font;
    font-size: $size;
    font-weight: 400;
    line-height: 1.6;
  }
}

/*** Fluid Font Sizes ***/
@mixin fluid-type($min-vw, $max-vw, $min-font, $max-font) {
  @media (max-width: $min-vw) {
    font-size: $min-font !important;
  }

  @media (min-width: $min-vw) and (max-width: $max-vw) {
    font-size: calc(#{$min-font} + (#{$max-font} - #{$min-font}) * ((100vw - #{$min-vw}) / (#{$max-vw} - #{$min-vw}))) !important;
  }

  @media (min-width: $max-vw) {
    font-size: $max-font !important;
  }
}

.title--1 {
  @include fluid-type(320px, 1200px, 2.25rem, 3rem);
}

.title--2 {
  @include fluid-type(320px, 1200px, 1.75rem, 2.25rem);
}

.title--3 {
  @include fluid-type(320px, 1200px, 1.5rem, 1.75rem);
}

.title--4 {
  @include fluid-type(320px, 1200px, 1.25rem, 1.5rem);
}

.title--5 {
  @include fluid-type(320px, 1200px, 1rem, 1.25rem);
}

.title--6 {
  @include fluid-type(320px, 1200px, 0.875rem, 1rem);
}

.text--1 {
  @include fluid-type(320px, 1200px, 1.125rem, 1.25rem);
}

.text--2 {
  @include fluid-type(320px, 1200px, 1rem, 1.125rem);
}

.text--3 {
  @include fluid-type(320px, 1200px, 0.9375rem, 1rem);
}

.text--4 {
  @include fluid-type(320px, 1200px, 0.875rem, 0.9375rem);
}

.text--5 {
  @include fluid-type(320px, 1200px, 0.75rem, 0.875rem);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-fluid-100 {
  width: 100%;
  height: auto;
}

.img-fluid-90 {
  width: 90%;
  height: auto;
}

.img-fluid-80 {
  width: 80%;
  height: auto;
}

.img-fluid-70 {
  width: 70%;
  height: auto;
}

.img-fluid-60 {
  width: 60%;
  height: auto;
}

.img-fluid-50 {
  width: 50%;
  height: auto;
}

.img-fluid-40 {
  width: 40%;
  height: auto;
} 

.img-fluid-30 {
  width: 30%;
  height: auto;
} 

.img-fluid-20 {
  width: 20%;
  height: auto;
} 

.img-fluid-10 {
  width: 10%;
  height: auto;
}

.img-fluid-auto {
  width: auto;
  height: auto;
}

img.rounded {
  border-radius: 0.25rem;
}

img.rounded-circle {
  border-radius: 50%;
}

/*** Text Align ***/
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

@include respond-to(sm) {
    .sm-text-center { text-align: center !important; }
    .sm-text-left { text-align: left !important; }
    .sm-text-right { text-align: right !important; }
}

@include respond-to(md) {
  .md-text-center { text-align: center !important; }
  .md-text-left { text-align: left !important; }
  .md-text-right { text-align: right !important; }
}

@include respond-to(lg) {
  .lg-text-center { text-align: center !important; }
  .lg-text-left { text-align: left !important; }
  .lg-text-right { text-align: right !important; }
}

@include respond-to(xl) {
  .xl-text-center { text-align: center !important; }
  .xl-text-left { text-align: left !important; }
  .xl-text-right { text-align: right !important; }
}


// Utility Classes
