.portfolio-skills .skill-console {
    border: solid 4px #47DBFF;
    background: #47DBFF;
    border-radius: 10px;
    overflow: hidden;
}

.portfolio-skills .skill-console .skill-console__title {
    background-color: #47DBFF;
    font-weight: 600;
}

.portfolio-skills .skill-console .skill-bar__content {
    border: solid 4px #47DBFF;
    border-radius: 10px;
    position: relative;
}

/*.portfolio-skills .skill-bar__progress.max_progress ~ .skill-bar__skill-level {
    color: #001D2D !important;
    font-weight: 600;
    z-index: 1;
}*/

.portfolio-skills .skill-console .skill-bar__skill-title {
    color: #47DBFF;
    font-weight: 600;
    z-index: 1;
}


.portfolio-skills .skill-console .skill-bar__skill-level {
    color: #47DBFF;
    font-weight: 600;
    z-index: 1;
}

.skill-console .skill-console__content {
    background-color: #001D2D;
}

.skill-console .skill-console__title--wrapper {
    background-color: #47DBFF;
    position: relative;
}

.skill-console .skill-console__bullets {
    position: absolute;
    left: 0;
}

.skill-console .skill-console__bullet {
    background-color: black;
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 25px;
    margin: 8px;
}

.skill-console .skill-bar__progress {
    background-color: #47dbff52;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    width: 0;
    transition: width 1s ease-out;
}

.portfolio-skills .slick-slide > div {
    padding: 16px;
}

/*** Swiper ***/
/*** Swiper Slider ***/
.portfolio-skills .swiper {
  padding-bottom: 24px;
}

.portfolio-skills .swiper-slide {
  height: auto !important;
}

.portfolio-skills .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-horizontal.swiper-pagination-bullets {
  position: relative !important;
  top: 15px;
  z-index: 5;
}

.portfolio-skills .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-horizontal.swiper-pagination-bullets {
  & .swiper-pagination-bullet {
    background-color: white;
  }
}