@import '../../../node_modules/bulma/bulma.scss';
@import './sass_files/utils.scss';
@import './sass_files/typography.scss';
@import './sass_files/ada_compliance.scss';


/*** Padding and Margin Classes ***/
// --- Responsive wrapper ---
// === Generate classes ===
// Padding and Margin classes, with responsive options

/*** Padding classes for small, medium, and large screens ***/
.p { @include generate_padding_classes(40); }

/*** Margin classes for small, medium, and large screens ***/
.m { @include generate_margin_classes(40); }

html {
    scroll-behavior: smooth;
}

/*** Global & Default Styles ***/
section {
    position: relative;
    margin-bottom: -1px !important;
}

.portfolio-projects, 
.portfolio-skills {
    background-color: #00466E;
}

/*** Section Titles ***/
.section-title__heading {
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: 700;
}

.section-title__heading::before {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #ffffff;
    margin-right: 40px;
}

/*** Buttons ***/
.btn--transparent-blue {
    background: transparent;
    border: 4px solid #47DBFF;
    color: #47DBFF;
    border-radius: 16px;
}

.btn--transparent-blue:hover {
    background: #47DBFF;
    color: #001D2D;
    transition: all 0.3s ease-in-out;
}