@use '../../../node_modules/bulma/bulma.scss';
@use './sass_files/utils.scss';
@use './sass_files/typography.scss';
@use './sass_files/ada_compliance.scss';


/*** Padding and Margin Classes ***/
// --- Responsive wrapper ---
@mixin spacing-utilities {
  @include generate-spacing(m, margin);
  @include generate-spacing(p, padding);
}


/*** Global & Default Styles ***/
section {
    position: relative;
}

.portfolio-projects, 
.portfolio-skills {
    background-color: #00466E;
}

/*** Section Titles ***/
.section-title__heading {
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: 700;
}

.section-title__heading::before {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #ffffff;
    margin-right: 40px;
}

/*** Buttons ***/
.btn--transparent-blue {
    background: transparent;
    border: 4px solid #47DBFF;
    color: #47DBFF;
    border-radius: 16px;
}

.btn--transparent-blue:hover {
    background: #47DBFF;
    color: #001D2D;
    transition: all 0.3s ease-in-out;
}