#site-header {
    position: relative;
    background-color: #001d2d;
    padding: 30px;
}

#site-header .nav-item_list {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: 0;
}

#site-header .nav-item {
    position: relative;
    color: white;
}

#site-header .nav-item:hover {
    color: #47dbff;
}

#site-header .nav-item.active {
    color: #47dbff;
}

#site-header .nav-item.active::before {
    content: "";
    border-bottom: solid 2px #47dbff;
    position: absolute;
    bottom: -8px;
    width: 100%;
}
