.project-card {
  background: black;
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.project-card__image {
  max-height: 185px;
  height: 100%;
  width: 100%;
}

.portfolio-projects .project__wrapper .slick-slide > div {
  padding: 16px;
  height: 100%;
}

.portfolio-projects .slick-track {
  display: flex;
}

.portfolio-projects .slick-slide {
  float: left;
  min-height: 1px;
  display: flex !important;
  align-items: flex-start;
  height: auto !important;
}

@media (min-width: 0) and (max-width: 767px) {
  .portfolio-projects .slick-slide {
    justify-content: center;
  }

  .portfolio-projects .slick-prev {
    left: -20px;
    z-index: 5;
  }
  
  .portfolio-projects .slick-next {
    right: -20px;
    z-index: 5;
  }

  .portfolio-projects .project-card__image {
    max-height: 270px;
  }
}

.portfolio-projects__technologies svg {
  transition: transfrom 0.5s ease-in-out;
  transform: scale(1.0);
}

.portfolio-projects__technologies svg:hover {
  transform: scale(1.3);
}

.portfolio-projects__technologies .icon__arrow svg {
  transform: none;
  transition: none;
}

/*** Swiper Slider ***/
.portfolio-projects .swiper {
  padding-bottom: 24px;
}

.portfolio-projects .swiper-slide {
  height: auto !important;
}

.portfolio-projects .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-horizontal.swiper-pagination-bullets {
  position: relative !important;
  top: 15px;
  z-index: 5;
}

.portfolio-projects .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-horizontal.swiper-pagination-bullets {
  & .swiper-pagination-bullet {
    background-color: white;
  }
}