.project-card {
  position: relative;
  overflow: hidden;
  padding: 0;
  transition: transform 0.3s ease;
  outline: none; /* Prevent default focus ring */
  height: 100%;
  flex: 1;
}

.project-card:hover,
.project-card:focus-within {
  transform: scale(1.02);
}

.project-card__image {
  display: block;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.project-card__title {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  background-color: black;
}

.project-card__content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 1rem;
  transition: top 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  box-sizing: border-box;
}

.project-card:hover .project-card__content,
.project-card:focus-within .project-card__content {
  top: 0;
  pointer-events: auto;
}

.project-card__link {
  margin-top: 1rem;
  color: #00e0ff;
  text-decoration: underline;
}

@media screen and (min-width: 0) and (max-width: 767px) {
    .portfolio-projects .project__wrapper .slick-slide {
        padding: 0 16px;
    }
}

/* project-component.css */
.portfolio-projects,
.project__wrapper {
  width: 100%;
}

.slick-slider,
.slick-list,
.slick-track {
  width: 100%;
}

.slick-slide > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.portfolio-projects .slick-slider .slick-slide {
  padding: 0 16px;
  height: auto !important;
  display: flex;
  align-items: stretch;
}

.project_icon__wrapper svg {
  transition: transform 0.2s ease-in-out;
}

.project_icon__wrapper svg:hover {
  transform: scale(1.5);
}
